.banner {
  background-size: cover;
  background-position: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.banner h1 {
  /* font-size: 16px; */
  font-weight: bold;
  margin: 0;
  text-align: center;
}
.banner p {
  /* font-size: 12px; */
  opacity: 0.9;
  font-weight: lighter;
  margin: 0;
}
.three-cards {
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 30px; */
  flex-wrap: wrap;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.card {
  width: 150px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(230,230,230);
}

.card img {
  width: 150px;
}

.second-container {
  margin: 0 auto;
  width: 700px;
}
